@import url('https://fonts.cdnfonts.com/css/road-rage');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before, *::after {
	box-sizing: border-box;
}

:root {
	font-size: 14px;
	--bg-color: #2d2d2d;
	--text-color: #fff;
	--primary-color: #ffeb3b;
	--secondary-color: #886704;
	--transition-speed: 200ms;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background: #1d1d1d;
}

body {
	color: var(--text-color);
	box-sizing: border-box;
	font-family: "monospace", "Space Mono", "Segoe UI", BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
	width: .9rem;
}

body::-webkit-scrollbar-thumb {
	background: var(--primary-color);
	border-radius: 50px;
	border: solid 4px #1d1d1d;
}

body::-webkit-scrollbar-track {
	background: #1d1d1d;
}


.nav-link svg {
	width: 2.4rem;
	margin: 0 1.3rem;
}

.nav-item.active svg {
	fill: var(--primary-color);
}

.resize-navbar-icon:hover svg {
	fill: var(--primary-color);
	
}

@media (max-width: 800px) {
	.nav-link svg {
		width: 2.1rem;
		margin: 0 1.3rem;
	}
}

li:hover .nav-menu-icon {
	fill: var(--primary-color);
	transition: fill var(--transition-speed);
}

a {
	text-decoration: none;
}

li {
	cursor: pointer;
	list-style: none;
}

img {
	width: 100%;
	object-fit: cover;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
}

button:disabled {
	opacity: .3;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 2.2rem;
}