* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before, *::after {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	--bg-color: #2d2d2d;
	--text-color: #fff;
	--primary-color: #f6f95a;
	--transition-speed: 200ms;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	box-sizing: border-box;
	font-family: "Segoe UI", BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.nav-link svg {
	width: 2.4rem;
	margin: 0 1.3rem;
}

.nav-item.active svg {
	fill: var(--primary-color);
}

.resize-navbar-icon:hover svg {
	fill: var(--primary-color);
	
}

	@media (max-width: 800px) {
		.nav-link svg {
			width: 2.1rem;
			margin: 0 1.3rem;
		}
	}

li:hover .nav-menu-icon {
	fill: var(--primary-color);
	transition: fill var(--transition-speed);
}

a {
	text-decoration: none;
}

li {
	cursor: pointer;
	list-style: none;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
}